---
import { ModeToggle } from '@/components/mode-toggle';
import { GithubIcon } from '@/components/ui/github';
import { LinkedinIcon } from '@/components/ui/linkedin';
import { TwitterIcon } from '@/components/ui/twitter';

import Layout from '../layouts/layout.astro';
---

<Layout>
	<div class="flex flex-col items-center justify-center space-y-16 pt-16">
		<h1 class="text-2xl font-bold mx-auto">Deepso.</h1>

		<div class="flex flex-col items-center justify-center space-y-4">
			<p class="text-sm font-light italic">
				Building <a
					target="_blank"
					class="underline"
					rel="noopener noreferrer"
					href="https://huddle01.com">Huddle01</a
				> and exploring new things at a constant pace.
			</p>

			<p class="text-sm font-light italic">
				India, Engineer <a target="_blank" rel="noopener noreferrer" href="https://huddle01.com"
					>@Huddle01
				</a>.
			</p>
		</div>

		<div class="flex flex-col items-center justify-center space-y-4">
			<h2 class="text-lg font-medium">Writings.</h2>

			<div>
				<ul class="space-y-2">
					<li>
						<a class="text-sm font-light italic underline" href="/writings/hi"> Hi. </a>
					</li>
				</ul>
			</div>
		</div>

		<div class="flex items-center justify-between w-full space-x-4">
			<ul class="horizontal space-x-4">
				<li>
					<a target="_blank" rel="noopener noreferrer" href="https://github.com/deepso7">
						<GithubIcon size={20} client:load />
					</a>
				</li>
				<li>
					<a target="_blank" rel="noopener noreferrer" href="https://twitter.com/deepso7">
						<TwitterIcon size={20} client:load />
					</a>
				</li>
				<li>
					<a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/deepso7">
						<LinkedinIcon size={20} client:load />
					</a>
				</li>
			</ul>

			<ModeToggle client:load />
		</div>
	</div>
</Layout>
