---
import { Image } from "astro:assets";

import githubSvg from "../assets/github.svg";
import twitterSvg from "../assets/x.svg";
import linkedinSvg from "../assets/linkedin.svg";

import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="vertical space-y-4 text-white">
    <h1 class="text-xl">Deepso.</h1>
    <ul class="horizontal space-x-4">
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/deepso7"
        >
          <Image src={githubSvg} width={20} alt="Github logo" loading="eager" />
        </a>
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://twitter.com/deepso7"
        >
          <Image
            src={twitterSvg}
            width={20}
            alt="Twitter logo"
            loading="eager"
          />
        </a>
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/deepanshu-singh-620797191"
        >
          <Image
            src={linkedinSvg}
            width={20}
            alt="LinkedIn logo"
            loading="eager"
          />
        </a>
      </li>
    </ul>
    <p class="text-sm font-thin italic">
      India, Lead Engineer <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://huddle01.com"
        >@Huddle01
      </a>.
    </p>
  </main>
</Layout>
