---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Deepso">
  <main class="vertical space-y-4">
    <h1 class="text-lg text-slate-100">Deepso.</h1>
    <ul
      class="horizontal list-disc space-x-4 text-sm text-white marker:text-xs marker:text-white after:bg-white first:marker:content-['']"
    >
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/deepso7"
        >
          Github
        </a>
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://twitter.com/deepso7"
        >
          X
        </a>
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/deepanshu-singh-620797191"
        >
          LinkedIn
        </a>
      </li>
    </ul>
    <p class="font-thin text-white">India, Protocol @Huddle01.</p>
  </main>
</Layout>
