---
import "../index.css";

import BaseHead from "../components/base-head.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../constants";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <SpeedInsights />
  </head>
  <body class="vertical center bg-black pt-12 font-sans">
    <slot />
  </body>
</html>